/ephemerd
/ephemerd.exe
/bin/
config.toml
*.log

# Embedded binaries (downloaded at build time)
pkg/runner/embed/actions-runner-*
pkg/cni/embed/cni-plugins-*
pkg/containerd/embed/containerd-shim-runc-v2
pkg/containerd/embed/runc
pkg/vm/embed/ephemerd-linux
pkg/vm/embed/alpine-minirootfs-*
